<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.AccessoriesBuyDAO">

    <resultMap id="accessoriesBuyResultMap" type="com.gs.bean.AccessoriesBuy">
        <id property="accBuyId" column="accBuyId"/>
        <result property="accUnit" column="accUnit"/>
        <result property="accBuyCount" column="accBuyCount"/>
        <result property="accBuyPrice" column="accBuyPrice"/>
        <result property="accBuyTotal" column="accBuyTotal"/>
        <result property="accBuyDiscount" column="accBuyDiscount"/>
        <result property="accBuyMoney" column="accBuyMoney"/>
        <result property="accBuyTime" column="accBuyTime"/>
        <result property="accBuyCreatedTime" column="accBuyCreatedTime"/>
        <result property="companyId" column="companyId"/>
        <result property="accBuyStatus" column="accBuyStatus"/>
        <result property="accBuyCheck" column="accBuyCheck"/>

        <association property="accessories" javaType="com.gs.bean.Accessories">
            <id property="accId" column="accId"/>
            <result property="accName" column="accName"/>
            <result property="accCommodityCode" column="accCommodityCode"/>
            <result property="accDes" column="accDes"/>
            <result property="accPrice" column="accPrice"/>
            <result property="accSalePrice" column="accSalePrice"/>
            <result property="accUnit" column="accUnit"/>
            <result property="accTotal" column="accTotal"/>
            <result property="accIdle" column="accIdle"/>
            <result property="accUsedTime" column="accUsedTime"/>
            <result property="accBuyedTime" column="accBuyedTime"/>
            <result property="supplyId" column="supplyId"/>
            <result property="accCreatedTime" column="accCreatedTime"/>
            <result property="accTypeId" column="accTypeId"/>
            <result property="companyId" column="companyId"/>
            <result property="accStatus" column="accStatus"/>
        </association>


    </resultMap>

    <insert id="insert" parameterType="accessoriesBuy">
		insert into
		auto_platform.t_accessories_buy(accBuyId, accId, accUnit, accBuyCount, accBuyPrice, accBuyTotal, accBuyDiscount, accBuyMoney, accBuyTime, accBuyCreatedTime, companyId, accBuyStatus)
		values
		(uuid(),#{accId},#{accUnit},#{accBuyCount},#{accBuyPrice},#{accBuyTotal},#{accBuyDiscount},#{accBuyMoney},#{accBuyTime},now(),#{companyId},'N')

	</insert>

    <insert id="batchInsert" parameterType="list">
		<![CDATA[

        ]]>
	</insert>

    <delete id="delete" parameterType="accessoriesBuy">
		<![CDATA[

        ]]>
	</delete>

    <delete id="deleteById" parameterType="string">
		delete from auto_platform.t_accessories_buy where accBuyId = #{id}
	</delete>

    <delete id="batchDelete" parameterType="list">

    </delete>

    <delete id="batchDeleteAcc">
        delete from auto_platform.t_accessories_buy where accBuyId in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="accessoriesBuy">
		update
		auto_platform.t_accessories_buy
		set
		accUnit = #{accUnit}, accBuyCount = #{accBuyCount}, accBuyPrice = #{accBuyPrice}, accBuyTotal = #{accBuyTotal},
		accBuyDiscount = #{accBuyDiscount}, accBuyMoney = #{accBuyMoney}, accBuyTime = #{accBuyTime}, accBuyStatus = #{accBuyStatus}
		where accBuyId = #{accBuyId}
	</update>

    <update id="batchUpdate" parameterType="list">
		<![CDATA[

        ]]>
	</update>

    <select id="queryAll" resultMap="accessoriesBuyResultMap">
		select * from auto_platform.t_accessories_buy
	</select>

    <select id="queryByStatus" resultMap="accessoriesBuyResultMap" parameterType="string">
		select * from auto_platform.t_accessories_buy where accBuyStatus = #{status}
	</select>

    <select id="queryByCheckStatus" resultMap="accessoriesBuyResultMap" parameterType="string">
        select * from auto_platform.t_accessories_buy where accBuyCheck = #{checkState}
    </select>


    <select id="query" parameterType="accessoriesBuy" resultType="accessoriesBuy">
		<![CDATA[

        ]]>
	</select>

    <select id="queryById" parameterType="string" resultType="accessoriesBuy">
		select * from auto_platform.t_accessories_buy where accBuyId = #{id}
	</select>

    <select id="queryByPager" resultType="list" resultMap="accessoriesBuyResultMap"
            parameterType="com.gs.common.bean.Pager">
		select * from
		auto_platform.t_accessories_buy ab
		left join
		auto_platform.t_accessories ac
		on
		ab.accId = ac.accId
		limit
		#{beginIndex},#{pageSize}
    </select>

    <select id="count" resultType="int">
		select count(*) from auto_platform.t_accessories_buy
	</select>

    <update id="inactive" parameterType="string">
		update auto_platform.t_accessories_buy set accBuyStatus = 'N' WHERE accBuyId = #{id}
	</update>

    <update id="active" parameterType="string">
		update auto_platform.t_accessories_buy set accBuyStatus = 'Y' WHERE accBuyId = #{id}
	</update>

    <select id="queryByBuyStatePager" resultType="list" resultMap="accessoriesBuyResultMap"
            parameterType="com.gs.common.bean.Pager">
        select * from auto_platform.t_accessories_buy where accBuyStatus = 'Y' limit #{beginIndex},#{pageSize}
    </select>

    <select id="queryByCheckStatePager" resultType="list" resultMap="accessoriesBuyResultMap"
            parameterType="com.gs.common.bean.Pager">
        select * from auto_platform.t_accessories_buy where accBuyCheck = 'Y' limit #{beginIndex},#{pageSize}
    </select>

    <select id="countByBuyState" resultType="int">
        select count(accBuyCount) from auto_platform.t_accessories_buy where accBuyStatus = 'Y'
    </select>

    <select id="countByCheckState" resultType="int">
        select count(accBuyCheck) from auto_platform.t_accessories_buy where accBuyCheck = 'Y'
    </select>

    <select id="countByAccName" resultType="int">
        select count(*) from
        auto_platform.t_accessories_buy ab
        left join
        auto_platform.t_accessories ac
        on
        ab.accId = ac.accId where 1 = 1
        <if test="accName != null and accName  != '' ">
            and ac.accName like concat(concat('%',#{accName}),'%')
        </if>
    </select>

    <select id="queryByAccNamePager" resultType="list" resultMap="accessoriesBuyResultMap">
        select * from
        auto_platform.t_accessories_buy ab
        left join
        auto_platform.t_accessories ac
        on
        ab.accId = ac.accId where 1= 1
        <if test="accName != null and accName  != '' ">
            and ac.accName like concat(concat('%',#{accName}),'%')
        </if>
        order by ac.accBuyedTime Desc
        limit
        #{pager.beginIndex},#{pager.pageSize}
    </select>


</mapper>
