<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.AccessoriesDAO">

	<resultMap id="accessoriesResultMap" type="accessories">
		<id property="accId" column="accId"/>
		<result property="accName" column="accName"/>
		<result property="accCommodityCode" column="accCommodityCode"/>
		<result property="accDes" column="accDes"/>
		<result property="accPrice" column="accPrice"/>
		<result property="accSalePrice" column="accSalePrice"/>
		<result property="accUnit" column="accUnit"/>
		<result property="accTotal" column="accTotal"/>
		<result property="accIdle" column="accIdle"/>
		<result property="accUsedTime" column="accUsedTime"/>
		<result property="accBuyedTime" column="accBuyedTime"/>
		<result property="accCreatedTime" column="accCreatedTime"/>
		<result property="accStatus" column="accStatus"/>

		<association property="supply" javaType="com.gs.bean.Supply">
			<id property="supplyId" column="supplyId"/>
			<id property="supplyName" column="supplyName"/>
		</association>

		<association property="accessoriesType" javaType="com.gs.bean.AccessoriesType">
			<id property="accTypeId" column="accTypeId"/>
			<id property="accTypeName" column="accTypeName"/>
		</association>

		<association property="company" javaType="com.gs.bean.Company">
			<id property="companyId" column="companyId"/>
			<id property="companyName" column="companyName"/>
		</association>
	</resultMap>

	<insert id="insert" parameterType="accessories">
		<![CDATA[
			insert into t_accessories(accId, accName, accCommodityCode, accDes, accPrice, accSalePrice, accUnit, accTotal, accIdle, accUsedTime, accBuyedTime, supplyId, accCreatedTime, accTypeId, companyId, accStatus) value (#{accId}, #{accName}, #{accCommodityCode}, #{accDes}, #{accPrice}, #{accSalePrice}, #{accUnit}, #{accTotal}, #{accIdle}, #{accUsedTime}, #{accBuyedTime}, #{supplyId}, now(), #{accTypeId}, #{companyId}, 'Y')
        ]]>
	</insert>

	<insert id="batchInsert" parameterType="list">
		<![CDATA[

        ]]>
	</insert>

	<delete id="delete" parameterType="accessories">
		<![CDATA[

        ]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

        ]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

        ]]>
	</delete>

	<update id="update" parameterType="accessories">
		<![CDATA[
			update t_accessories set accName = #{accName}, accCommodityCode = #{accCommodityCode}, accDes = #{accDes}, accPrice = #{accPrice}, accSalePrice = #{accSalePrice}, accUnit = #{accUnit}, accTotal = #{accTotal}, accIdle = #{accIdle}, accUsedTime = #{accUsedTime}, accBuyedTime = #{accBuyedTime}, supplyId = #{supplyId}, accTypeId = #{accTypeId}, companyId = #{companyId}, accStatus = #{accStatus} where accId = #{accId}
        ]]>
	</update>

	<update id="updateIdle" parameterType="accessories">
		<![CDATA[
			update t_accessories set accIdle = #{lastCount} where accId = #{id}
		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

        ]]>
	</update>

	<select id="queryAll" resultMap="accessoriesResultMap">
		<![CDATA[
			select * from t_accessories where 1 = 1
        ]]>
		<if test="companyId != null and companyId != ''">
			and companyId = #{companyId}
		</if>
	</select>

	<select id="queryByStatus" resultMap="accessoriesResultMap" parameterType="string">
		<![CDATA[

        ]]>
	</select>

	<select id="query" parameterType="accessories" resultType="accessories">
		<![CDATA[

        ]]>
	</select>

	<select id="queryById" resultType="accessories">
		<![CDATA[
			select * from t_accessories where accId = #{id}
        ]]>
		<if test="user.companyId != null and user.companyId != ''">
			and companyId = #{user.companyId}
		</if>
	</select>

	<select id="queryByIdPager" resultMap="accessoriesResultMap">
		<![CDATA[
			select * from t_accessories where accTypeId = #{id}
        ]]>
		<if test="user.companyId != null and user.companyId != ''">
			and companyId = #{user.companyId}
		</if>
		limit #{pager.beginIndex}, #{pager.pageSize}
	</select>

	<select id="queryByPager" resultMap="accessoriesResultMap">
		<![CDATA[
			select c.*, s.supplyId, s.supplyName, ac.accTypeId, ac.accTypeName, cpy.companyId, cpy.companyName
			from t_accessories c, t_supply s, t_accessories_type ac, t_company cpy
			where 1=1 and c.supplyId = s.supplyId and c.accTypeId = ac.accTypeId and c.companyId = cpy.companyId
        ]]>
		<if test="user.companyId != null and user.companyId != ''">
			and c.companyId = #{user.companyId}
		</if>
        order by c.companyId desc, c.accCreatedTime
		limit #{pager.beginIndex}, #{pager.pageSize}
	</select>

	<select id="queryByStatusPager" resultMap="accessoriesResultMap">
		<![CDATA[
			select ac.*, s.supplyId, s.supplyName, at.accTypeId, at.accTypeName, cpy.companyId, cpy.companyName
			from t_accessories ac, t_supply s, t_accessories_type at, t_company cpy
			where s.supplyId = ac.supplyId and at.accTypeId = ac.accTypeId and cpy.companyId = ac.companyId and ac.accStatus = #{accStatus}
		]]>
		<if test="user.companyId != null and user.companyId != ''">
			and ac.companyId = #{user.companyId}
		</if>
		order by ac.companyId Desc, ac.accCreatedTime
		limit #{pager.beginIndex}, #{pager.pageSize}
	</select>

	<select id="queryByCondition" resultMap="accessoriesResultMap">
		<![CDATA[
 			select ac.*, c.companyId, c.companyName, at.accTypeId, at.accTypeName, s.supplyId, s.supplyName
 			from t_accessories ac, t_company c, t_accessories_type at, t_supply s
 			where c.companyId = ac.companyId and at.accTypeId = ac.accTypeId and s.supplyId = ac.supplyId
		]]>
		<if test="accessories.accName != null and accessories.accName !=''">
			and ac.accName like concat('%', #{accessories.accName},'%')
		</if>
		<if test="accessories.accCommodityCode != null and accessories.accCommodityCode !=''">
			and ac.accCommodityCode like concat('%', #{accessories.accCommodityCode}, '%')
		</if>
		<if test="accessories.companyId != null and accessories.companyId != '' and accessories.companyId != 'null'">
			and ac.companyId = #{accessories.companyId}
		</if>
		<if test="accessories.accTypeId != null and accessories.accTypeId != '' and accessories.accTypeId != 'null'">
			and ac.accTypeId = #{accessories.accTypeId}
		</if>
		<if test="user.companyId != null and user.companyId != ''">
			and ac.companyId = #{user.companyId}
		</if>
		order by ac.companyId desc, ac.accCreatedTime
		limit #{pager.beginIndex}, #{pager.pageSize}
	</select>

	<select id="count" resultType="int">
		<![CDATA[
			select count(*) from t_accessories where 1 = 1
        ]]>
		<if test="companyId != null and companyId != ''">
			and companyId = #{companyId}
		</if>
	</select>
	<select id="countByTypeId" resultType="int">
		<![CDATA[
			select count(*) from t_accessories where  accTypeId = #{accTypeId}
        ]]>
		<if test="user.companyId != null and user.companyId != ''">
			and companyId = #{user.companyId}
		</if>
	</select>

	<select id="countByStatus" parameterType="String" resultType="int">
		<![CDATA[
			select count(*) from t_accessories where accStatus = #{accStatus}
		]]>
		<if test="user.companyId != null and user.companyId != ''">
			and companyId = #{user.companyId}
		</if>
	</select>

	<select id="countByCondition" resultType="int">
		<![CDATA[
			select count(*) from t_accessories where 1 = 1
		]]>
		<if test="accessories.accName != null and accessories.accName != ''">
			and accName like concat('%',#{accessories.accName},'%')
		</if>
		<if test="accessories.accCommodityCode != null and accessories.accCommodityCode != ''">
			and accCommodityCode like concat('%',#{accessories.accCommodityCode},'%')
		</if>
		<if test="accessories.companyId != null and accessories.companyId != '' and accessories.companyId != 'null'">
			and companyId = #{accessories.companyId}
		</if>
		<if test="accessories.accTypeId != null and accessories.accTypeId != '' and accessories.accTypeId != 'null'">
			and accTypeId = #{accessories.accTypeId}
		</if>
		<if test="user.companyId != null and user.companyId != ''">
			and companyId = #{user.companyId}
		</if>
	</select>


	<update id="inactive" parameterType="string">
		<![CDATA[
			update t_accessories set accStatus = 'N' where accId = #{accId}
        ]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[
			update t_accessories set accStatus = 'Y' where accId = #{accId}
        ]]>
	</update>

</mapper>
