<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.CarBrandDAO">

	<resultMap id="carBrandResultMap" type="carBrand">

	</resultMap>

	<insert id="insert"  parameterType="carBrand">
		insert into t_car_brand (brandId,brandName,brandDes,brandStatus) values (UUID(),#{brandName},#{brandDes},'Y');
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="carBrand">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		delete from t_car_brand where brandId = #{brandId}
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="carBrand">
		update t_car_brand set brandName = #{brandName} , brandDes = #{brandDes} where brandId = #{brandId}
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="carBrandResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="carBrandResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="carBrand" resultType="carBrand">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="carBrand">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="carBrandResultMap" parameterType="com.gs.common.bean.Pager">
		select * from t_car_brand  limit #{beginIndex}, #{pageSize}
	</select>

	<select id="count" resultType="int">
		select count(brandId) from t_car_brand
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

</mapper>
