<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.CheckinDAO">

	<resultMap id="checkinResultMap" type="checkin">
		<id property="checkinId" column="checkinId" />
		<result property="userName" column="userName" />
		<result property="userPhone" column="userPhone" />
		<result property="carPlate" column="carPlate" />
		<result property="arriveTime" column="arriveTime" />
		<result property="carMileage" column="carMileage" />
		<result property="carThings" column="carThings" />
		<result property="intactDegrees" column="intactDegrees" />
		<result property="userRequests" column="userRequests" />
		<result property="maintainOrFix" column="maintainOrFix" />
		<result property="checkinCreatedTime" column="checkinCreatedTime" />
		<result property="checkinStatus" column="checkinStatus" />

		<association property="brand" javaType="com.gs.bean.CarBrand">
			<id property="brandId" column="brandId"/>
			<id property="brandName" column="brandName"/>
		</association>
		<association property="color" javaType="com.gs.bean.CarColor">
			<id property="colorId" column="colorId"/>
			<id property="colorName" column="colorName"/>
		</association>
		<association property="plate" javaType="com.gs.bean.CarPlate">
			<id property="plateId" column="plateId"/>
			<id property="plateName" column="plateName"/>
		</association>
		<association property="model" javaType="com.gs.bean.CarModel">
			<id property="modelId" column="modelId"/>
			<id property="modelName" column="modelName"/>
		</association>
		<association property="company" javaType="com.gs.bean.Company">
			<id property="companyId" column="companyId"/>
			<id property="companyName" column="companyName"/>
		</association>
	</resultMap>

	<insert id="insert"  parameterType="checkin">
		<![CDATA[
			insert into t_checkin(checkinId, userId, appointmentId, userName, userPhone, brandId, colorId,
				modelId, plateId, carPlate, arriveTime, carMileage, carThings, intactDegrees, userRequests,
				maintainOrFix, checkinCreatedTime, companyId, checkinStatus)
				values(uuid(), #{userId}, #{appointmentId}, #{userName}, #{userPhone}, #{brand.brandId}, #{color.colorId},
				#{model.modelId}, #{plate.plateId}, #{carPlate}, #{arriveTime}, #{carMileage}, #{carThings}, #{intactDegrees}, #{userRequests},
				#{maintainOrFix}, now(), #{company.companyId}, #{checkinStatus})
		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="checkin">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="checkin">
		<![CDATA[

		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="checkinResultMap">
		<![CDATA[
			select * from t_checkin
		]]>
	</select>

	<select id="queryByStatus" resultMap="checkinResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="checkin" resultType="checkin">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="checkin">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="checkinResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[
			select c.*, b.brandId, b.brandName, co.colorId, co.colorName, m.modelId, m.modelName, p.plateId, p.plateName, cpy.companyId, cpy.companyName
				from t_checkin c, t_car_brand b, t_car_color co, t_car_model m, t_car_plate p, t_company cpy
				where 1=1 and c.brandId = b.brandId and c.colorId = co.colorId and c.modelId = m.modelId and c.plateId = p.plateId and cpy.companyId = c.companyId

		]]>
		limit #{beginIndex}, #{pageSize}
	</select>

	<select id="count" resultType="int">
		<![CDATA[
			select count(*) from t_checkin
		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

</mapper>
