<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.CheckinDAO">

	<resultMap id="checkinResultMap" type="checkin">

	</resultMap>

	<insert id="insert"  parameterType="checkin">
		<![CDATA[

		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="checkin">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="checkin">
		<![CDATA[

		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="checkinResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="checkinResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="checkin" resultType="checkin">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="checkin">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="checkinResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[

		]]>
	</select>

	<select id="count" resultType="int">
		<![CDATA[

		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

</mapper>
