<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.MaintainRecordDAO">
    <resultMap id="maintainRecordResultMap" type="maintainRecord">
        <id column="recordId" property="recordId"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="actualEndTime" property="actualEndTime"/>
        <result column="recordCreatedTime" property="recordCreatedTime"/>
        <result column="pickupTime" property="pickupTime"/>
        <result column="trackStatus" property="trackStatus"/>
        <result column="recordDes" property="recordDes"/>
        <result column="recordStatus" property="recordStatus"/>
        <result column="speedStatus" property="speedStatus"/>
        <!--接待表Id-->
        <association property="checkin" javaType="com.gs.bean.Checkin">
            <id column="checkinId" property="checkinId"/>
            <result column="userName" property="userName"/>
            <result column="carPlate" property="carPlate"/>
            <result column="userPhone" property="userPhone"/>
            <result column="userId" property="userId"/>
            <result column="userRequests" property="userRequests"/>
            <result column="maintainOrFix" property="maintainOrFix"/>
        </association>
        <association property="company" javaType="com.gs.bean.Company">
            <id property="companyId" column="companyId"/>
            <id property="companyName" column="companyName"/>
        </association>
    </resultMap>
    <insert id="insert" parameterType="maintainRecord">
		<![CDATA[
          insert into t_maintain_record(recordId, checkinId, startTime, endTime, actualEndTime, recordCreatedTime, pickupTime, companyId, recordDes, recordStatus, trackStatus, speedStatus)
            values(#{recordId}, #{checkinId}, #{startTime}, #{endTime}, #{actualEndTime}, now(), #{pickupTime}, #{companyId}, #{recordDes}, 'Y', 'N', #{speedStatus})
        ]]>
	</insert>

    <insert id="batchInsert" parameterType="list">
		<![CDATA[

        ]]>
	</insert>

    <delete id="delete" parameterType="maintainRecord">
		<![CDATA[

        ]]>
	</delete>

    <delete id="deleteById" parameterType="string">
		<![CDATA[

        ]]>
	</delete>

    <delete id="batchDelete" parameterType="list">
		<![CDATA[

        ]]>
	</delete>

    <update id="update" parameterType="maintainRecord">
		<![CDATA[
          update t_maintain_record
            set checkinId = #{checkinId}, startTime = #{startTime}, endTime = #{endTime}, actualEndTime = #{actualEndTime}, recordCreatedTime = now(), pickupTime = #{pickupTime}, recordDes = #{recordDes}, recordStatus = 'Y', trackStatus = #{trackStatus} where recordId = #{recordId}
        ]]>
	</update>

    <update id="updateTrackStatus" parameterType="string">
        <![CDATA[
          update t_maintain_record
            set trackStatus = 'Y' where checkinId=#{checkinId}
        ]]>
    </update>

    <update id="batchUpdate" parameterType="list">
		<![CDATA[

        ]]>
	</update>

    <select id="queryAll" resultMap="maintainRecordResultMap">
		<![CDATA[
          select * from t_maintian_record
        ]]>
	</select>

    <select id="queryByStatus" resultMap="maintainRecordResultMap" parameterType="string">
		<![CDATA[

        ]]>
	</select>

    <select id="query" parameterType="maintainRecord" resultType="maintainRecord">
		<![CDATA[

        ]]>
	</select>

    <select id="queryById" parameterType="string" resultType="maintainRecord">
		<![CDATA[
          select * from t_maintain_record where recordId = #{id}
        ]]>
	</select>

    <select id="queryByPager" resultType="list" resultMap="maintainRecordResultMap"
            parameterType="com.gs.common.bean.Pager">
		<![CDATA[

		  select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.maintainOrFix, cpy.companyId, cpy.companyName
		    from t_maintain_record r,  t_checkin c, t_company cpy
		    where c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.speedStatus = '已登记'

        ]]>
        order by r.recordCreatedTime desc, r.companyId
        limit #{beginIndex}, #{pageSize}
	</select>

    <select id="queryPagerByStatus" resultType="list" resultMap="maintainRecordResultMap">
        <![CDATA[
			select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.maintainOrFix, cpy.companyId, cpy.companyName
			  from t_maintain_record r,  t_checkin c, t_company cpy
			  where c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.recordStatus = #{status} and r.speedStatus = '已登记'
		]]>
		order by r.recordCreatedTime desc, r.companyId
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="queryPagerByCondition" resultType="list" resultMap="maintainRecordResultMap">
        <![CDATA[
			select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.maintainOrFix, cpy.companyId, cpy.companyName
			  from t_maintain_record r,  t_checkin c, t_company cpy
		      where 1 = 1 and c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.speedStatus = #{record.speedStatus}
		]]>
        <if test="record.checkin.userName != null and record.checkin.userName != ''">
            and c.userName like concat('%',#{record.checkin.userName},'%')
        </if>
        <if test="record.checkin.carPlate != null and record.checkin.carPlate != ''">
            and c.carPlate like concat('%',#{record.checkin.carPlate},'%')
        </if>
        <if test="record.startTime != null and record.startTime != ''">
            and r.startTime = #{record.startTime}
        </if>
        <if test="record.checkin.maintainOrFix != 'all'">
            and c.maintainOrFix = #{record.checkin.maintainOrFix}
        </if>
        <if test="record.companyId != null and record.companyId != '' and record.companyId != 'null'">
            and r.companyId = #{record.companyId}
        </if>
        order by r.recordCreatedTime desc
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="queryPagerByTrackStatus" resultType="list" resultMap="maintainRecordResultMap">
        <![CDATA[
			select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.userId, c.userRequests, c.maintainOrFix, cpy.companyId, cpy.companyName
			  from t_maintain_record r,  t_checkin c, t_company cpy
			  where c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.recordStatus = 'Y' and r.trackStatus = #{status}
		]]>
        order by r.recordCreatedTime desc, r.companyId
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByRecordStatus" resultType="int">
        <![CDATA[
			select count(*) from t_maintain_record where recordStatus = 'Y'
		]]>
    </select>

    <select id="queryPagerByMessage" resultType="list" resultMap="maintainRecordResultMap">
        <![CDATA[
			select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.userId, c.userRequests, c.maintainOrFix, cpy.companyId, cpy.companyName
			  from t_maintain_record r,  t_checkin c, t_company cpy
			  where c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.recordStatus = 'Y'
		]]>
        order by r.recordCreatedTime desc, r.companyId
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="queryPagerBySpeedStatus" resultType="list" resultMap="maintainRecordResultMap">
        <![CDATA[
			select r.*, c.checkinId, c.userName, c.carPlate, c.userPhone, c.userId, c.userRequests, c.maintainOrFix, cpy.companyId, cpy.companyName
			  from t_maintain_record r,  t_checkin c, t_company cpy
			  where c.checkinId = r.checkinId and c.companyId = cpy.companyId and r.recordStatus = 'Y' and r.speedStatus in
		]]>
        <foreach item="item" index="index" collection="speedStatus" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by r.recordCreatedTime desc, r.companyId
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>


    <select id="count" resultType="int">
		<![CDATA[

		  select count(*) from t_maintain_record where speedStatus = '已登记'

        ]]>
	</select>

    <select id="countByStatus" resultType="int">
        <![CDATA[
			select count(*) from t_maintain_record where recordStatus = #{status} and speedStatus = '已登记'
		]]>
    </select>

    <select id="countByCondition" resultType="int">
        <![CDATA[
			select count(*) from t_maintain_record r, t_checkin c where 1 = 1 and r.checkinId = c.checkinId and r.speedStatus = #{speedStatus}
		]]>
        <if test="checkin.userName != null and checkin.userName != ''">
            and c.userName like concat('%',#{checkin.userName},'%')
        </if>
        <if test="checkin.carPlate != null and checkin.carPlate != ''">
            and c.carPlate like concat('%',#{checkin.carPlate},'%')
        </if>
        <if test="startTime != null and startTime != ''">
            and r.startTime = #{startTime}
        </if>
        <if test="checkin.maintainOrFix != 'all'">
            and c.maintainOrFix = #{checkin.maintainOrFix}
        </if>
        <if test="companyId != null and companyId != '' and companyId != 'null'">
            and r.companyId = #{companyId}
        </if>

    </select>

    <select id="countByTrackStatus" resultType="int">
        <![CDATA[
			select count(*) from t_maintain_record where recordStatus = 'Y' and trackStatus = #{status}
		]]>
    </select>

    <select id="countBySpeedStatus" resultType="int">
        <![CDATA[
			select count(*) from t_maintain_record where recordStatus = 'Y' and speedStatus in
		]]>
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="inactive" parameterType="string">
		<![CDATA[

		  update t_maintain_record set recordStatus = 'N' where recordId = #{id}

        ]]>
	</update>

    <update id="active" parameterType="string">
		<![CDATA[

		  update t_maintain_record set recordStatus = 'Y' where recordId = #{id}

        ]]>
	</update>

    <update id="updateSpeedStatusById">
        <![CDATA[

		  update t_maintain_record set speedStatus = #{speedStatus} where recordId = #{id}

        ]]>
    </update>

</mapper>
