<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.MaintainFixDAO">

	<resultMap id="maintainFixResultMap" type="maintainFix">
		<id property="maintainId" column="maintainId"></id>
		<result property="maintainName" column="maintainName"></result>
		<result property="maintainHour" column="maintainHour"></result>
		<result property="maintainMoney" column="maintainMoney"></result>
		<result property="maintainManHourFee" column="maintainManHourFee"></result>
		<result property="maintainOrFix" column="maintainOrFix"></result>
		<result property="maintainDes" column="maintainDes"></result>
		<result property="maintainStatus" column="maintainStatus"></result>
		<association property="company" javaType="com.gs.bean.Company">
			<id property="companyId" column="companyId"></id>
			<result property="companyName" column="companyName"/>
		</association>
	</resultMap>

	<insert id="insert"  parameterType="maintainFix">
		<![CDATA[
			insert into t_maintain_fix (maintainId,maintainName,maintainHour,maintainMoney,maintainManHourFee,maintainOrFix,maintainDes,maintainStatus,companyId) values (UUID(),#{maintainName},#{maintainHour},#{maintainMoney},#{maintainManHourFee},#{maintainOrFix},#{maintainDes},'Y',#{companyId})
		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="maintainFix">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="maintainFix">
		<![CDATA[
			update t_maintain_fix set maintainName = #{maintainName} , maintainHour = #{maintainHour} , maintainMoney = #{maintainMoney} , maintainManHourFee = #{maintainManHourFee} , maintainOrFix = #{maintainOrFix} , maintainDes = #{maintainDes} , companyId = #{companyId} , maintainStatus = 'Y' where maintainId = #{maintainId}
		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="maintainFixResultMap">
		<![CDATA[
			select * from t_maintain_fix
		]]>
	</select>

	<select id="queryByStatus" resultMap="maintainFixResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="maintainFix" resultType="maintainFix">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="maintainFix">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="maintainFixResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[
			select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '维修' limit #{beginIndex}, #{pageSize}
		]]>
	</select>
	<select id="queryBymaintainPager" resultType="list" resultMap="maintainFixResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[
			select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '保养' limit #{beginIndex}, #{pageSize}
		]]>
	</select>
	<select id="count" resultType="int">
		<![CDATA[
			select count(*) from t_maintain_fix
		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[
			update t_maintain_fix set maintainStatus = 'N' where maintainId = #{maintainId}
		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[
			update t_maintain_fix set maintainStatus = 'Y' where maintainId = #{maintainId}
		]]>
	</update>

</mapper>
