<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.MaterialListInfoDAO">

    <resultMap id="materialListInfoResultMap" type="materialListInfo">
        <id column="materialId" property="materialId"/>
        <result column="materialCount" property="materialCount"/>
        <result column="materialCreatedTime" property="materialCreatedTime"/>
        <result column="materialStatus" property="materialStatus"/>
        <result column="userName" property="userName" />
        <result column="userRequests" property="userRequests" />
        <result column="maintainName" property="maintainName" />
        <result column="maintainMoney" property="maintainMoney" />
        <result column="accName" property="accName" />
    </resultMap>

    <select id="queryByPager"  resultMap="materialListInfoResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
			SELECT ml.materialId, ml.materialCount, ml.materialCreatedTime, ml.materialStatus, c.userName, c.userRequests, mf.maintainName,
			mf.maintainMoney, a.accName FROM t_material_list ml, t_maintain_record mr, t_maintain_detail md, t_maintain_fix mf, t_accessories a, t_checkin c
			WHERE ml.accId = a.accId AND ml.recordId = mr.recordId AND mr.recordId = md.recordId
			AND md.maintainId = mf.maintainId AND mr.checkinId = c.checkinId
		]]> limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        <![CDATA[
            select count(*) from t_material_list
        ]]>
    </select>

    <update id="inactive" parameterType="string">
        <![CDATA[
			update t_material_list set materialStatus = 'N' where materialId = #{materialId}
		]]>
    </update>

    <update id="active" parameterType="string">
        <![CDATA[
			update t_material_list set materialStatus = 'Y' where materialId = #{materialId}
		]]>
    </update>

</mapper>