<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.SupplyDAO">

	<resultMap id="supplyResultMap" type="supply">

	</resultMap>

	<insert id="insert"  parameterType="supply">
		<![CDATA[
		insert into t_supply(supplyId, supplyName, supplyTel, supplyPricipal, supplyAddress, supplyBank, supplyBankAccount, supplyBankNo, supplyAlipay, supplyWechat, supplyCreatedTime, supplyTypeId companyId, supplyStatus) values(#{supplyId}, #{supplyName}, #{supplyTel}, #{supplyPricipal}, #{supplyAddress}, #{supplyBank}, #{supplyBankAccount}, #{supplyBankNo}, #{supplyAlipay}, #{supplyWechat}, #{supplyCreatedTime}, #{supplyTypeId}, #{companyId}, #{supplyStatus})
		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="supply">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="supply">
		<![CDATA[

		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="supplyResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="supplyResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="supply" resultType="supply">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="supply">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="supplyResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[

		]]>
	</select>

	<select id="count" resultType="int">
		<![CDATA[

		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

</mapper>
