<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.TrackListDAO">

	<resultMap id="trackListResultMap" type="trackList">
		<id column="trackId" property="trackId"/>
		<result column="userId" property="userId"/>
		<result column="trackContent" property="trackContent"/>
		<result column="serviceEvaluate" property="serviceEvaluate"/>
		<result column="trackUser" property="trackUser"/>
		<result column="trackCreatedTime" property="trackCreatedTime"/>
		<!--管理员Id-->
		<association property="admin" javaType="com.gs.bean.User">
			<id column="adminId" property="userId"/>
			<result column="adminName" property="userName"/>
		</association>
		<!--客户Id-->
		<association property="customer" javaType="com.gs.bean.User">
			<id column="customerId" property="userId"/>
			<result column="customerName" property="userName"/>
		</association>
	</resultMap>

	<insert id="insert"  parameterType="trackList">
		<![CDATA[

		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="trackList">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="trackList">
		<![CDATA[

		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="trackListResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="trackListResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="trackList" resultType="trackList">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="trackList">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="trackListResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[
			select l.*,u.userId as customerId,u.userName as customerName,u1.userId as adminId,u1.userName as adminName
			from t_track_list l LEFT JOIN  t_user u on l.userId=u.userId
			LEFT JOIN t_user u1 on l.trackUser= u1.userId
		]]>
		limit #{beginIndex}, #{pageSize}
	</select>

	<select id="count" resultType="int">
		<![CDATA[
			select count(*) from t_track_list l, t_user u where l.userId=u.userId
		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

</mapper>
