<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.UserDAO">

	<resultMap id="userResultMap" type="user">
		<id property="userId" column="userId" />
		<result property="userEmail" column="userEmail" />
		<result property="userPhone" column="userPhone" />
		<result property="userPwd" column="userPwd" />
		<result property="userNickname" column="userNickname" />
		<result property="userIdentity" column="userIdentity" />
		<result property="userName" column="userName" />
		<result property="userGender" column="userGender" />
		<result property="userBirthday" column="userBirthday" />
		<result property="userAddress" column="userAddress" />
		<result property="qqOpenId" column="qqOpenId" />
		<result property="weiboOpenId" column="weiboOpenId" />
		<result property="wechatOpenId" column="wechatOpenId" />
		<result property="userIcon" column="userIcon" />
		<result property="userDes" column="userDes" />
		<result property="companyId" column="companyId" />
		<result property="userSalary" column="userSalary" />
		<result property="userCreatedTime" column="userCreatedTime" />
		<result property="userLoginedTime" column="userLoginedTime" />
		<result property="userStatus" column="userStatus" />

		<association property="company" javaType="com.gs.bean.Company">
			<id property="companyId" column="companyId"/>
			<id property="companyName" column="companyName"/>
		</association>

	</resultMap>

	<insert id="insert"  parameterType="user">
		<![CDATA[
			INSERT INTO t_user
				(userId, userName, userNickname, userEmail, userPwd, userGender, userAddress, userPhone, userSalary, userIdentity, userCreatedTime, companyId, userStatus)
			VALUES
				(uuid(), #{userName}, #{userNickname}, #{userEmail}, #{userPwd}, #{userGender}, #{userAddress}, #{userPhone}, #{userSalary}, #{userIdentity}, now(), #{companyId}, 'Y')
		]]>
	</insert>


	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="user">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="user">
		<![CDATA[
			UPDATE t_user SET
				userName = #{userName}, userIcon = #{userIcon}, userEmail = #{userEmail}, userNickname = #{userNickname}, userDes = #{userDes}, userPwd = #{userPwd}, userGender = #{userGender}, userPhone = #{userPhone}, userAddress = #{userAddress}, userStatus = 'Y', companyId = #{companyId}  WHERE userId = #{userId}
		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="userResultMap">
		<![CDATA[
			SELECT * FROM t_user
		]]>
	</select>

	<select id="queryByStatus" resultMap="userResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="user" resultType="user">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="user">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="userResultMap" parameterType="com.gs.common.bean.Pager">

		<![CDATA[
			SELECT u.*, c.companyId, c.companyName FROM t_user u,t_company c where 1=1 and c.companyId = u.companyId
				order by userCreatedTime Desc, u.companyId
		]]>limit #{beginIndex}, #{pageSize}

	</select>

	<select id="count" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM t_user
		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[
			UPDATE t_user set userStatus = 'N' where userId = #{userId}
		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[
			UPDATE t_user set userStatus = 'Y' where userId = #{userId}
		]]>
	</update>

</mapper>
