<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.WorkInfoDAO">

	<resultMap id="workInfoResultMap" type="workInfo">
		<id property="workId" column="workId"></id>
		<result property="recordId" column="recordId"></result>
		<result property="userId" column="userId"></result>
		<result property="workAssignTi" column="workAssignTi"></result>
		<result property="workCreatedTime" column="workCreatedTime"></result>
		<result property="workStatus" column="workStatus"></result>

		<association property="user" javaType="com.gs.bean.User">
			<id property="userId" column="userId"/>
			<id property="userName" column="userName"/>
		</association>

	</resultMap>

	<insert id="insert"  parameterType="workInfo">
		<![CDATA[
			INSERT INTO t_work_info
				(workId, recordId, userId, workAssignTime, workCreatedTime, workStatus)
			VALUES
				(uuid(), #{recordId}, #{userId}, #{workAssignTime}, now(), 'Y')
		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="workInfo">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="workInfo">
		<![CDATA[
			UPDATE t_work_info SET
				 workStatus = 'Y', userId = #{userId} WHERE workId = #{workId}
		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="workInfoResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="workInfoResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="workInfo" resultType="workInfo">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="workInfo">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="workInfoResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[
			SELECT w.*, u.userId, u.userName FROM t_work_info w, t_user u where 1=1 and w.userId = u.userId
				order by workCreatedTime Desc, w.userId
		]]>limit #{beginIndex}, #{pageSize}
	</select>

	<select id="count" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM t_work_info
		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[
			UPDATE t_work_info set workStatus = 'N' where workId = #{workId}
		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[
			UPDATE t_work_info set workStatus = 'Y' where workId = #{workId}
		]]>
	</update>

</mapper>
